:root {
    --background-color: #f5f5f5;
    --navbar-background: #2c3e50;
    --navbar-background-hover: #34495e;
    --navbar-text-color: white;
    --menu-item-hover-color: #3498db;
    --course-card-background: #fff;
    --course-card-hover-scale: 1.05;
    --lesson-card-background: #fff;
   
   
  
  }

 
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  .courses {
    background-color: #151515;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
  
  .course-card {
    background: var(--course-card-background);
    border-radius: 12px;
   
    margin: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .course-card:hover {
    transform: scale(var(--course-card-hover-scale));
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  }

 
  .lesson-card {
    display: flex;
    flex-direction: column;
    color: black;
    position: relative; 
    background: var(--lesson-card-background);
    border-radius: 12px;
    padding: 30px 200px;
   

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    margin: 100px 0;
    gap: 40px;
  }
  .lesson-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  }
  .categorie{
    font-size: 18px;
  }
  .motDz{
    color: #6b28e9;
    font-size: 26px;
    font-weight: 600;
  }
  .motTraduit{
    font-size : 24px;
    font-weight: 600;
  }
  .note{
    font-size: 16px;
    font-weight: 600;
  }
    .lesson-progress {
      margin-top: 15px; 
      font-size: 14px;
      text-align: center; 
      min-width: max-content;
    }
  
  .button-container {
    margin-top: 20px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;

  }
  .prv{
    background-color:  #1e1e1e;
  }
  .nxt{ 
    background-color:  #1e1e1e;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #6b28e9; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  .close-button {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color:white;
   color:darkred;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 10; /* Ensure it’s on top */
  }
  
  .close-button:hover {
    background-color:darkred;
  }


  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    position: relative;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 12px 20px; 
    font-size: 16px;
   /* border: 2px solid #5500f9;*/
    border-radius: 30px 0 0 30px; 
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input:focus {
    border-color: /*#9B59B6;*/#9B59B6; 
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
  }
  
  .search-icon {
    background: /*#5500f9;  #9B59B6; #198F8F;  */#9B59B6; 
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    color: white; 
    font-size: 16px;
    padding: 12px 15px;
    display: flex; 
    align-items: center; 
  }
  

  .search-icon:hover{
    background: #6b28e9;
   }

  .search-results {

   color:white;
  

font-size: 30px;
text-align: center;
    position: relative;
  
    margin-top: 5px;
   
  }
  
  .search-result {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .answer-button.selected {
    background-color: var(--neutral-dark);
  }
  

  
  @media (max-width: 600px) {
    .lesson-card {
    
      padding: 20px 30px;
    }
    .courses {
      grid-template-columns: 1fr; 
      padding: 0 10px; 
  }
  .courses > .course-card{
    padding: 40px 60px;
  }
  }
  @media (min-width: 601px) and (max-width: 900px) {
    .lesson-card {
        padding: 60px 80px; 
    }
    .courses {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        gap: 15px; 
    }
    .courses > .course-card {
        padding: 30px 40px; 
    }
}