.footer {
    background-color:#151515; /*#121212;*/
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    line-height: 1.5; 
}
@media (max-width: 600px) {
    .footer { position: relative;
        margin-top: auto;
    }
}