:root {
    --color-violet: #5500f9;
    --color-dark: #151515;
    --color-white: #ffffff;
    --color-button: #9B59B6;
    --color-button-hover: rgba(0, 0, 0, 0.4); 
}


.home {
    background-color: var(--color-dark);
    justify-content: flex-start;
    color: var(--color-white);
    padding: 0px 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    position: relative;
   
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 20px 0;
  
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in;
    padding : 20px 0;
   
}

.hero-subtitle {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 40px;
    animation: fadeIn 1.5s ease-in;
    padding : 5px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card-button {
    background-color: #9b59b6;
    color: var(--color-white);
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; 
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.courses-button:hover,
.quizzes-button:hover {
    transform: scale(1.2) translateY(-5px);
    padding: 25px 35px; 
    box-shadow: 0 12px 30px var(--color-button-hover);
    background-color: var(--color-violet); 
}

.courses-button,
.quizzes-button {

    background-color:#9b59b6;
}





@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .home {
        padding: 0px 30px; 
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-subtitle {
        font-size: 18px;
    }

    .button-container {
        flex-direction: column;
        align-items: center; 
    }

    .card-button {
        width: 90%;
        max-width: none;
    }
    .hero-content {
        padding : 0px;
      
    }
}
