:root {
  --background-dark: #151515;
  --purple: #5500f9;
  --purple-hover: #6b28e9;
  --neutral-dark: #1e1e1e;
  --text-light: #e0e0e0;
  --correct-color: green;
  --wrong-color: #8B0000;
}

.quiz {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  animation: fadeIn 1s;
  gap: 20px;
  width: 100%;
  background-color: var(--background-dark);
}

.quiz-page {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--background-dark);
}

.question-name {
  padding-bottom: 20px;
  text-align: center;
}

button {
  background-color: #1e1e1e;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.level-button{
  background-color: #13e28f;
  color:#151515;
  font-weight: 600;
  padding: 30px 40px;
  font-size: 18px;
}
.level-button:hover{
  background-color: #198F8F; 

}

.answer-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #151515;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--text-light);
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.answer-button:not(.correct):not(.wrong) {
  background-color: var(--neutral-dark);
}

.answer-button:hover {
  background-color: var(--purple) !important;
}

button:hover {
  background-color: var(--purple-hover);
  transform: scale(1.05);
}

.answer-button.correct {
  background-color: var(--correct-color) !important;
}

.answer-button.wrong {
  background-color: var(--wrong-color) !important;
}

.neutral {
  background-color: var(--neutral-dark) !important;
}

.fade-in-correct {
  animation: fadeIn 0.5s;
}

.fade-in-wrong {
  animation: shake 0.5s;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--purple);
  background-color: var(--neutral-dark);
  color: var(--text-light);
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

select:hover {
  background-color: var(--purple-hover);
}

.correct-answer {
  color: var(--correct-color);
}

.quit-button-mob {
  background-color: var(--background-dark);
}


.quit-button-mob:hover {
  background-color: var(--purple-hover);
}


.quit-button {
  background: var(--wrong-color);
  padding: 15px 30px;
}

.quit-button:hover {
  background-color: var(--purple-hover);
  transform: scale(1.05);
}
.replay-button{
 background-color:  #00C853;
 padding: 15px 20px;

transition: background-color 0.3s, transform 0.3s;


}

.quizresultText{text-align: center;}

.welcome {
  text-align: center;
  padding-bottom: 20px;
  gap: 20px;
}

.titre-difficulte {
  padding: 50px 0;
}

@media (max-width: 600px) {

  titre-difficulte{font-size: 18px;
  }
  .welcomeTitre{ 
    font-size: 20px;
  }
  .level-button{
  
    padding: 20px 40px;
    font-size: 16px;
  }

  h1 {
      font-size: 60px;
  }
  h1 {
      font-size: 30px;
  }
  
  button {
      padding: 12px;
      font-size: 14px;
  }
  
  .quiz {
      padding: 10px 20px;
  }

  .quit-button-mob {
      display: block;
      position: absolute;
      top: 80px;
      right: 10px;
      font-size: 18px;
      background: none;
      border: none;
      cursor: pointer;
      color: var(--text-light);
      transition: color 0.3s;
  }

  .quit-button {
      display: block;
      margin: 10px auto;
      font-size: 18px;
      background: #8B0000;
      border: none;
      cursor: pointer;
      color: var(--text-light);
      transition: color 0.3s;
  }

  .replay-button {
      display: block;
      margin: 10px auto;
      padding: 15px 20px;
      background-color: #00C853;
      color: white;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s, transform 0.3s;
  }
  .replay-button:hover{
    background-color: var(--purple-hover);
  }

  .quit-button:hover {
      background-color: var(--purple-hover);
      transform: scale(1.05);
  }

  .quit-button-mob:hover {
      background-color: rgba(30, 30, 30, 0.9);
  }

  .quit-button-mob span {
      display: none;
  }


  
  .answer-button:hover {
    background-color: #1e1e1e !important;
}

.answer-button.correct {
  background-color: var(--correct-color) !important;
}

.answer-button.wrong {
  background-color: var(--wrong-color) !important;
}

.neutral {
  background-color: var(--neutral-dark) !important;
}


}

@media (max-width: 400px) {
  h1 {
      font-size: 20px;
  }
  h2 {
      font-size: 18px;
  }

  button {
      padding: 10px;
      font-size: 12px;
  }
}
