/* global.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color:  #151515;
    color: white;
 
   
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}
a {
    text-decoration: none; 
    color: inherit; 
}